.rating {
  display: inline-block;
  position: relative;
  bottom: 500px;
  top: 10px;
  left : 450px;
  height: 25px;
  width: 400px;
  line-height: 25px;
  font-size: 25px;
}

.rating label {
  position: absolute;
  bottom: 500px;
  top: 0;
  left: 10px;
  height: 0;
  cursor: pointer;
}

.rating label:last-child {
  position: absolute;
}

.rating label:nth-child(1) {
  z-index: 5;
}

.rating label:nth-child(2) {
  z-index: 4;
}

.rating label:nth-child(3) {
  z-index: 3;
}

.rating label:nth-child(4) {
  z-index: 2;
}

.rating label:nth-child(5) {
  z-index: 1;
}

.rating label input {
  position: absolute;
  top: 0px;
  left: 10%;
  opacity: 0;
}

.rating label .icon {
  float: center;
  color: transparent;
}

.rating label:last-child .icon {
  color: #dddddd;
}

.rating:not(:hover) label input:checked ~ .icon,
.rating:hover label:hover input ~ .icon {
  color: #ffdd6b;
}

.rating label input:focus:not(:checked) ~ .icon:last-child {
  color: #dddddd;
  text-shadow: 0 0 5px #ffdd6b;
}